*{
    margin:0;
    padding:0;
}
#container{
    width:100%;
    height:100vh;
    background-color:cyan;
}
#header{
    border:1px solid black;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    height:5vh;
    padding:2vh;
}
.btns{
    border-radius:10px;
    border:none;
    outline:none;
    cursor:pointer;
    padding:10px;

}
#noteBtn{
    background-color:blue;
    color:white;
}
/*add new note dialog*/
#addNewNoteBg{
    background:rgb(230, 224, 224);
    height:100vh;
    width:100%;
    z-index:100000;
    position:fixed;
    display:none;
    justify-content:center;
    align-items:center;
}
#addNewNote{
    display:flex;
    flex-direction:column;
    background:white;
    border-radius:10px;
    justify-content:center;
    align-items:center;
    width:50%;
    height:fit-content;
    margin: 20% 20% 20% 20% 
}
#dialogWindow{
    border:1px solid black;
    width:100%;
}
#dialogHeader{
    width:95%;
    height:50%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#noteId{
    display:none;
}
#dialogTitle{
    text-align:center;
}
#closeBtn{
    border:none;
    outline:none;
    background:none;
    padding:2%;
    cursor:pointer;
}
#dialogContent{
    width:100%;
    height:50%;
    display:flex;
    flex-direction:column;
}
.inputs{
    padding:2%;
    width:90%;
    border:none;
    outline:none;
    background:rgb(231, 229, 229);
    border-radius:5px;
}
.margins{
    margin-left:2.5%;
}
#noteContent{
    height:60%
}
.buttons{
    padding:2%;
    cursor:pointer;
    border-radius:15%;
    border:none;
    outline:none;
    margin-left:5%;
}
#dialogMenu{
    width:100%;
    display:flex;
    flex-direction: row;
    margin:5%;
    align-items:center;
    justify-content:center;
}
#cancelBtn{
    background:red;
    color:white;
}
#SaveBtn{
    background:blue;
    color:white;
}
/*settings window*/
#settingsBg{
    background:rgb(230, 224, 224);
    height:100vh;
    width:100%;
    z-index:100000;
    position:fixed;
    display:none;
    flex-direction:column;
}
#form1{
    display: flex;
    flex-direction: column;
}
/*main content*/
#content{
    display:flex;
    flex-wrap:wrap;
    border:1px solid transparent;
    height:90vh;
}
.note{
    display:flex;
    flex-direction:column;
    background:white;
    width:20%;
    height:20%;
    border-radius:5px;
    margin:1.5%;
}
#editBtn,#delBtn{
    width:fit-content;
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
}
#storedNotesActions{
    display:none;
}
.note:hover>#storedNotesActions{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
